.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pokemon-card:hover {
    transform: translateY(-10px);
}

.pokemon-card {
    text-decoration: none;
    color: black;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-image-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    max-width: 100%;
    max-height: 100%;
}

.pokemon-details-container {
    padding: 20px;
}

.pokemon-number {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #666;
}

.pokemon-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.pokemon-types {
    display: flex;
    gap: 10px;
}

.pokemon-type-0 {
    font-size: 16px;
    border-radius: 5px;
    text-transform: capitalize;
    background: #9bcc50;
    color: #000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 4px 20px;
}
.single-type {
    font-size: 16px;
    border-radius: 5px;
    text-transform: capitalize;
    background: #fd7d24;
    color: #fff;
    box-sizing: border-box;
}
.pokemon-type-1 {
    font-size: 16px;
    border-radius: 5px;
    text-transform: capitalize;
    background: #b97fc9;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 4px 20px;
}
.loading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: url("../public/body_gray_bg.png");
    padding: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
}

.popup h2 {
    margin-top: 0;
}

.popup-close {
    background-color: yellowgreen;
    color: #fff;
    border: none;
    padding: 4px 5px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1000;
}

.pokemonDetailsContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-pagination {
    margin-right: 10px;
    border-radius: 5px;
    padding: 12px;
    color: grey;
    font-size: 18px;
    background: yellow;
    cursor: pointer;
}
.pokemon-cardBig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.special-container {
    background-color: #30a7d7;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.pokemonContainer {
    width: 60%;
    margin: 0 auto;
}
.headline-info {
    color: #fff;
}
.evolution-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.evolution-button {
    border: none;
    border-radius: 6px;
    padding: 20px;
    background-color: #ee6b2f;
    color: #fff;
    cursor: pointer;
}
.pokemon-image-container-big {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon-versions {
    display: flex;
    margin-bottom: 20px;
}
.version-first-container {
    color: #0072b0;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
}
.version-second-container {
    color: #dd2d51;
    font-size: 30px;
    cursor: pointer;
    display: flex;
}
.bordered-1 {
    border: 5px solid #0072b0;
    border-radius: 50%;
}
.bordered-2 {
    border: 5px solid #dd2d51;
    border-radius: 50%;
}
.evolution-container {
    display: flex;
    justify-content: space-around;
}
